.coworking-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: var(--header-height);
  background-color: #eee;
  border: 1px solid #ddd;

  .filter-container {
    display: inline-flex;
    align-items: center;

    .fa-location-dot {
      margin: 10px;
    }
  }

  .ant-select,
  .ant-picker,
  .ant-btn {
    margin: 0 5px;
    height: 38px;
  }
}
